body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

#auth-section, #survey-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, p {
    margin-bottom: 8px;
    font-size: 14px;
}

input, textarea {
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    border: none;
    background-color: #F33A6A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #F33A6A;
    }

textarea {
    resize: vertical;
    height: 60px;
}